html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #1F242D;
  scroll-behavior: smooth;
}

#intro-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
  background-color: #1F242D;
  display: flex;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: none;
    animation: cont 1s ease forwards;
}
@keyframes cont {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media(max-width:1520px) {
  nav {
    width: auto;
  }
}

@media (max-width:1024px) {
    .links-container a {
        cursor: none;
    }
    .links-container a:hover {
    color: white;
    }
    .links-container a:active {
    color: aqua;
}
}

nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1F242D;
}   
nav .nav-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 35px 110px 25px 110px;
  transition: all 0.45s ease;
}
.nav-container.scrolled {
  box-shadow: 0 2px 30px rgba(0,0,0,0.3);
  padding-top: 25px;
}
.home-link {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;
    animation: fade 1s ease forwards;
    animation-delay: 0.1s;
    opacity: 0;
}
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end;
    gap: 40px;
}   
nav a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;
    transition: 0.3s ease;
    animation: fade 1s ease forwards;
    opacity: 0;
}   
.links-container a:nth-child(1) {
  animation-delay: 0.4s;
}
.links-container a:nth-child(2) {
  animation-delay: 0.6s;
}
.links-container a:nth-child(3) {
  animation-delay: 0.8s;
}

.links-container a:nth-child(4) {
  animation-delay: 1s;
}

.links-container a:nth-child(5) {
  animation-delay: 1.2s;
}
.links-container a:nth-child(6) {
  animation-delay: 1.4s;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav a:hover {
    color: aqua;
}
nav .home-link {
    margin-right: auto;
}   
#sidebar-active {
    display: none;
}   
.open-sidebar-button, .close-sidebar-button {
    display: none;
} 
  
@media(max-width:768px) {
    .links-container {
        flex-direction: column;
        align-items: flex-end;
        padding-top: 35px;
        justify-content: flex-start;
        gap: 5px;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;   

        background: linear-gradient(#1F242D, aqua 120%);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: right 1s ease-in-out;
}   
.links-container a {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 6px 20px 6px 0px;
    justify-content: flex-end;
    font-size: 20px;
    position: relative;
    opacity: 0;
    transform: translateY(-20px);
    animation-name: none;
    cursor: none;
} 
.links-container a:hover {
    color: white;
    }
.links-container a:active {
    color: aqua;
}
.links-container a::after {
    content: '';
    width: 92%;
    height: 0.5px;
    background-color: rgb(121, 121, 121);
    position: absolute;
    top: 30px;
}  
.open-sidebar-button {
    display: block;
}   
#sidebar-active:checked ~ .links-container a:nth-child(2) {
    animation-name: fadeInUp;
    animation-duration: 0.75s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  #sidebar-active:checked ~ .links-container a:nth-child(3) {
    animation-name: fadeInUp;
    animation-duration: 0.75s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  #sidebar-active:checked ~ .links-container a:nth-child(4) {
    animation-name: fadeInUp;
    animation-duration: 0.75s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  #sidebar-active:checked ~ .links-container a:nth-child(5) {
    animation-name: fadeInUp;
    animation-duration: 0.75s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  #sidebar-active:checked ~ .links-container a:nth-child(6) {
    animation-name: fadeInUp;
    animation-duration: 0.75s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  #sidebar-active:checked ~ .links-container a:nth-child(7) {
    animation-name: fadeInUp;
    animation-duration: 0.75s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.close-sidebar-button {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
}
#sidebar-active:checked ~ .links-container {
    right: 0;
}   
#sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.nav-container {
    padding: 25px 20px !important;
}
.home-link {
    animation-name: none;
    opacity: 1;
}
.parent-container {
  padding: 0px 20px !important;
}
.parent-container2 {
  padding: 0px 20px 200px 20px !important;
}
.submit-msg {
  top: 30px !important;
}
footer {
  padding: 30px 20px !important;
}
}   

@media (max-width:600px) {
    .links-container {
        width: 50%;
    }
}

@media (max-width:500px) {
    .links-container a:after {
        width: 85%;
    }
}

@media (max-width:420px) {
    .links-container a:after {
        width: 81%;
    }
    .home-link {
        font-size: 25px;
    }
  .parent-container {
    padding: 0px 10px !important;
    gap: 30px;
  }
  .nav-container {
    padding: 25px 10px;
  }
  .Creator-name {
    font-size: 33px !important;
  }
  .parent-container2 {
    padding: 0px 10px 150px 10px !important;
  }
  .Project-container {
    padding: 0 !important;
  }
  footer {
    padding: 30px 10px !important;
  }
  footer p {
    width: 250px;
  }
  .bg-Azix {
    top: 600px !important;
  }
}

.typed-cursor {
    color: #00EEFF;
    font-size: 50px;
    white-space: nowrap;
}

#typed-text {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: aqua;
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 110px;  
    margin-top: 100px;
}

.prnt-text {
    width: auto;
}

.prnt-text-lorem {
  width: 566px;
  font-family: 'Poppins';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
  opacity: 0;
  transform: translateY(20px);
  animation: word-fade 0.7s forwards;
  animation-delay: 5.8s;
}

.info2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gapper {
    display: grid;
    gap: 5px !important;
}

.prnt-text h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 64.06px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;
}

.Creator-name {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    background: linear-gradient(to left, #000000, #01d4c2, #00fff7);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
   -webkit-text-fill-color: transparent;
  animation: rrEffect 6s ease infinite;
  animation-delay: 2.3s;
  text-shadow: 0 0 10px rgba(1, 212, 194, 0.25);
}

@keyframes rrEffect {
  0%   { background-position: 200% center; }
  100% { background-position: 0% center; }
}

.Azix {
    max-width: 300px;
    width: auto;
    height: 500px;
    position: relative;
    z-index: 100;
}

.bg-Azix {
  background-color: aqua;
  position: absolute;
  width: 300px;
  height: 300px;
  transform: rotate(-225deg);
  z-index: 99;
  top: 300px;
  border-radius: 30px;
  background: linear-gradient(to left, #000000, orange, #00fff7);
  animation: rrEffect 6s ease infinite;
  background-size: 200% 200%;
  border-top-right-radius: 60%;
}

.word-fade, .word-fade3 {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: word-fade 0.7s forwards;
}

.word-fade:nth-child(1) { animation-delay: 0s; }
.word-fade:nth-child(2) { animation-delay: 0.2s; }
.word-fade:nth-child(3) { animation-delay: 0.4s; }
.word-fade:nth-child(4) { animation-delay: 0.6s; }
.word-fade:nth-child(5) { animation-delay: 0.8s; }
.word-fade:nth-child(6) { animation-delay: 1s; }
.word-fade:nth-child(7) { animation-delay: 1.2s; }
.word-fade:nth-child(8) { animation-delay: 1.4s; }
.word-fade:nth-child(9) { animation-delay: 1.6s; }
.word-fade:nth-child(10) { animation-delay: 1.8s; }

/* .word-fade:nth-child(1) { animation-delay: 2s; }
.word-fade:nth-child(2) { animation-delay: 2.2s; }
.word-fade:nth-child(3) { animation-delay: 2.4s; }
.word-fade:nth-child(4) { animation-delay: 2.6s; }
.word-fade:nth-child(5) { animation-delay: 2.8s; }
.word-fade:nth-child(6) { animation-delay: 3s; }
.word-fade:nth-child(7) { animation-delay: 3.2s; }
.word-fade:nth-child(8) { animation-delay: 3.4s; }
.word-fade:nth-child(9) { animation-delay: 3.6s; }
.word-fade:nth-child(10) { animation-delay: 3.8s; } */

/* .word-fade2:nth-child(1) { animation-delay: 2.4s; }
.word-fade2:nth-child(2) { animation-delay: 2.6s; }
.word-fade2:nth-child(3) { animation-delay: 2.8s; }
.word-fade2:nth-child(4) { animation-delay: 3s; }
.word-fade2:nth-child(5) { animation-delay: 3.2s; }
.word-fade2:nth-child(6) { animation-delay: 3.4s; }
.word-fade2:nth-child(7) { animation-delay: 3.6s; }
.word-fade2:nth-child(8) { animation-delay: 3.8s; }
.word-fade2:nth-child(9) { animation-delay: 4s; }
.word-fade2:nth-child(10) { animation-delay: 4.2s; }
.word-fade2:nth-child(11) { animation-delay: 4.4s; }
.word-fade2:nth-child(12) { animation-delay: 4.6s; }
.word-fade2:nth-child(13) { animation-delay: 4.8s; }
.word-fade2:nth-child(14) { animation-delay: 5s; }
.word-fade2:nth-child(15) { animation-delay: 5.2s; }
.word-fade2:nth-child(16) { animation-delay: 5.4s; }
.word-fade2:nth-child(17) { animation-delay: 5.6s; }
.word-fade2:nth-child(18) { animation-delay: 5.8s; }
.word-fade2:nth-child(19) { animation-delay: 6s; } */

.word-fade3:nth-child(1) { animation-delay: 4.2s; }
.word-fade3:nth-child(2) { animation-delay: 4.4s; }
.word-fade3:nth-child(3) { animation-delay: 4.6s; }
.word-fade3:nth-child(4) { animation-delay: 4.8s; }
.word-fade3:nth-child(5) { animation-delay: 5s; }
.word-fade3:nth-child(6) { animation-delay: 5.2s; }

.logos-parent {
  display: flex;
  align-items: center;
  gap: 20px;
}

.circle {
  border-radius: 50%;
  border: 1.5px solid aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  opacity: 0;
  transform: translateY(20px);
  animation: word-fade 0.7s forwards;
  animation-delay: 6s;
}

.prnt-text button {
  width: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  opacity: 1;
  border-radius: 35.2px;
  background-color: aqua;
  border: none;
  box-shadow: 0px 0px 8.8px 0px aqua;
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 700;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: word-fade 0.7s forwards;
  animation-delay: 6s;
}

@keyframes word-fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:1260px) {
  .gapper {
    gap: 0px !important;
  }
  .prnt-text-lorem {
    width: 400px;
  }
  .prnt-text {
    width: auto;
  }
  .prnt-text h1 {
    font-size: 28px;
  }
  .Creator-name {
    font-size: 40px;
  }
  #typed-text {
    font-size: 28px;
  }
  .typed-cursor {
    font-size: 28px;
  }
  .Azix {
    width: auto;
    height: 350px;
  }
  .bg-Azix {
    width: 220px;
    height: 220px;
    top: 270px;
  }
}

@media (max-width:1024px) {
  .parent-container {
    display: grid;
    justify-content: center;
  }
  .prnt-text-lorem {
    width: 100%;
  }
  .Azix-parent {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }
  .Azix {
    width: 540px;
    height: auto;
    display: flex;
  }
  .bg-Azix {
    top: 720px;
    width: 320px;
    height: 320px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  .prnt-text button {
    width: 155px;
    height: 38px;
  }
  .box button {
    width: 130px !important;
    height: 38px !important;
    font-size: 14px !important;
  }
  .parent-container3 {
    grid-template-columns: repeat(2,1fr) !important;
  }
  .Project-container {
    padding: 88px 23px !important;
  }
}

@media (max-width:465px) {
  .info2 {
    gap: 10px !important;
  }
  .prnt-text-lorem {
    font-size: 12px;
  }
  .Creator-name {
    position: relative;
    top: 15px;
  }
  .positioner {
    position: relative;
    top: 40px;
  }
  .prnt-text h1 {
    font-size: 24px;
  }
  #typed-text {
    font-size: 24px;
  }
  .typed-cursor {
    font-size: 24px;
  }
  .circle {
    width: 35px;
    height: 35px;
  }
  .prnt-text svg {
    width: 15px;
    height: 15px;
  }
  .prnt-text button {
    width: 140px;
    height: 34px;
    font-size: 15px;
  }
  .parent-container {
    margin-top: 60px;
  }
  .gapper {
    gap: 0px !important;
  }
  .Azix {
    width: 180px !important;
    height: auto;
  }
  .bg-Azix {
    width: 190px;
    height: 190px;
    top: 580px;
  }
  input {
    font-size: 12px !important;
  }
  textarea {
    font-size: 12px !important;
  }
}

@media (max-width:375px) {
   .word-fade3:nth-child(1) {
    display: none;
   }
   .word-fade3:nth-child(2) {
    display: none;
   }
   .word-fade3:nth-child(3) {
    display: none;
   }
   .info2 {
    width: 300px;
   }
   .Service-title{
    font-size: 35px !important;
   }
   .Project-container h1 {
    font-size: 35px !important;
   }
   .Contact-title {
    font-size: 35px !important;
   }
}

@media (max-width:325px) {
  .info::after {
    content: " :";
    position: absolute;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: word-fade 0.7s forwards;
    animation-delay: 5.4s;  
  }
  .info2 {
    width: 300px;
  }
}

.Service-title {
  text-align: center;
  margin-top: 120px;
  color: white;
  font-family: 'Poppins';
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  scroll-margin-top: 130px;
}

.aqua-title {
  color: aqua;
}

.parent-container2 {
  display: flex;
  justify-content: space-between;
  padding: 0px 110px 240px 110px;
}

.box {
  padding: 40px;
  border-radius: 20px;
  background-color: #323946;
  border: 2px solid #1F242D;
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.box svg {
  width: 58px;
  height: 53px;
  fill: aqua;
}

.box h2 {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}

.box p {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
  width: 270px;
}

.box button {
  width: 151px;
  height: 45px;
  border-radius: 40px;
  background-color: aqua;
  box-shadow: 0px 0px 10px 0px aqua;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-style: 'SemiBold';
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.88px;
  vertical-align: middle;
}

@media (max-width:1300px) {
  .box {
    width: auto;
    height: auto;
  }
  .box p {
    width: auto;
    padding-bottom: 30px;
  }
  .parent-container2 {
    gap: 20px;
  }
}

@media (max-width:940px) {
  .parent-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .three {
    grid-column: 1 / span 2;
}
}

@media (max-width:535px) {
  .parent-container2 {
    grid-template-columns: repeat(1,1fr);
  }
  .three {
    grid-column: 1;
  }
  .parent-container3 {
    grid-template-columns: repeat(1,1fr) !important;
  }
  input {
    width: 150px !important;
  }
  textarea {
    height: 200px !important;
  }
}

.aqua-title2 {
  color: aqua;
}

.Project-container h1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.Project-container {
  padding: 110px;
  display: grid;
  align-items: center;
  background-color: #323946;
}

.parent-container3 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  justify-content: space-between;
  width: fit-content;
  margin: 0 auto;
}

.parent-container3 img {
  box-shadow: 0px 0px 10px 0px #1F242D;
  border-radius: 20px;
}

@media (max-width:1420px) {
  .parent-container3 {
    width: auto;
  }
  .parent-container3 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.Contact-title {
  color: white;
  font-family: 'Poppins';
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
  scroll-margin-top: 180px;
}

form {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

input {
  width: 343px;
  height: 55px;
  border-radius: 8px;
  border: none;
  background-color: #323946;
  outline-color: aqua;
  padding-left: 20px;
  color: white;
  font-size: 20px;
}

textarea {
  width: 97.4%;
  height: 280px;
  border-radius: 8px;
  padding: 20px 0px 0px 20px;
  border: none;
  outline-color: aqua;
  background-color: #323946;
  grid-column: 1 / span 2;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 20px;
  color: white
}

.reset-btn {
  background: gray;
  box-shadow: none;
  width: 186px;
  height: 45px;
  border-radius: 40px;
  background-color: gray;
  border: none;
  box-shadow: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-style: 'SemiBold';
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  color: #323946;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  width: 186px;
  height: 45px;
  border-radius: 40px;
  background-color: aqua;
  border: none;
  box-shadow: 0px 0px 10px 0px aqua;
  font-family: 'Poppins';
  font-weight: 600;
  font-style: 'SemiBold';
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  color: #323946;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn-parent {
  grid-column: 1 / span 2;
  justify-content: center;
  display: grid;
  gap: 20px;
  margin-top: 30px;
}

.submit-msg {
  position: fixed;
  z-index: 1100;
  top: 25px; 
  left: 46.7%;
  transform: translateX(-50%) translateY(-10px);
  background: lime;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 26px;
  width: fit-content;
  max-width: 90%;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.75s ease;
  pointer-events: none;
  padding: 0px 10px;
}

.submit-msg h1 {
  color: white;
  font-size: 15px;
}

.submit-msg.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width:850px) {
  input {
    width: auto;
  }
  textarea {
    width: auto;
  }
}

@media(max-width:615px) {
  input {
    width: auto;
    font-size: 16px;
  }
  textarea {
    width: auto;
    font-size: 16px;
  }
  .submit-btn {
    width: 160px;
    height: 38px;
    font-size: 14px;
  }
  .reset-btn {
    width: 160px !important;
    height: 38px !important;
    font-size: 14px !important;
  }
}

@media(max-width:410px) {
  .submit-btn {
    width: 150px !important;
  }
  .reset-btn {
    width: 150px !important;
  }
  form {
    grid-template-columns: repeat(1,1fr) !important;
    margin: 0;
    width: 100%;
  }
  input {
    width: 100% !important;
    grid-column: 1;
  }
}

@media (max-width:1140px) {
  .submit-msg {
    left: 45.5%;
  }
}

@media(max-width:970px) {
  .submit-msg {
    left: 45%;
  }
}

@media(max-width:840px) {
  .submit-msg {
    left: 44.5%;
  }
}

@media(max-width:760px) {
  .submit-msg {
    left: 43.2%;
  }
}
  
@media(max-width:640px) {
  .submit-msg {
    left: 42.3%;
  }
}

@media(max-width:580px) {
  .submit-msg {
    left: 41%;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 110px;
  background-color: #323946;
  margin-top: 160px;
}

.up-btn {
  background-color: aqua;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

footer p {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: 'Regular';
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}

/* .anm-box1 {
    background-color: blueviolet;
    height: 50vh;
    width: 100vw;
    animation: anm-box1 5s ease infinite;
    position: relative;
}

@keyframes anm-box1 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(200%);
    }
}

.anm-box2 {
    background-color: blueviolet;
    height: 50vh;
    width: 100vw;
    animation: anm-box2 5s ease infinite;
    position: relative;
}

@keyframes anm-box2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-200%);
    }
}

.anm-box3 {
    background-color: rgb(25, 28, 26);
    height: 200%;
    width: 25vw;
    animation: anm-box3 5s ease infinite;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

@keyframes anm-box3 {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(200%);
    }
}

.anm-box4 {
    background-color: rgb(25, 28, 26);
    height: 200%;
    width: 25vw;
    animation: anm-box4 5s ease infinite;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
}

@keyframes anm-box4 {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-200%);
    }
}

.anm-box5 {
    background-color: aqua;
    height: 200%;
    width: 25vw;
    animation: anm-box5 5s ease infinite;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 25vw;
}

@keyframes anm-box5 {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(200%);
    }
}

.anm-box6 {
    background-color: rgb(38, 15, 116);
    height: 200%;
    width: 25vw;
    animation: anm-box6 5s ease infinite;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: calc(25vw * 2);
}

@keyframes anm-box6 {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-200%);
    }
} */

.box1 {
    background-color: blueviolet;
    height: 100vh;
    width: 33.3vw;
    animation: box1 1.3s forwards;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.box1:nth-child(2) {
    animation-delay: 0.2s;
    transform: translateY(-100%);
}

.box1:nth-child(3) {
    animation-delay: 0.3s;
    transform: translateY(-100%);
}

@keyframes box1 {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(-100%);
    }
}


